*{
    margin: 0%;
    padding: 0%;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1f1f1;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-color: #5c5ffd;
    width: 400px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 0px #000;
    color: #f1f1f1;
}

input{
    width: 200px;
    height: 30px;
    border-radius: 10px;
    border: none;
    text-align: center;
    font-size: 15px;
}

button{
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: none;
    color: #5c5ffd;
    font-weight: bold;
    font-size: large;
    cursor: pointer;
}

button:hover{
    background-color: #7c7eff;
    color: #f1f1f1;
}

h4{
    font-size: 20px; 
}

#resultado{
    font-size: 20px;
    font-weight: bold;
    color: #f1f1f1;
}

#puntos{
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    display: flex;
    justify-content:start;
}