html{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1c1c1c;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: no-repeat;
    background-size: cover;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #262626;
    padding: 7%;
    border-radius: 10px;
    align-items: center;
    width: 30%;
    
}

h1{
    font-size: 30px;
    color: white;
    font-weight: bold;

}

p{
    color: #f1ed00;
    font-weight: bold;
    font-size: 30px;

}

button{
    color: #000000;
    background-color: #f1ed00;
    padding: 10px;
    width: 60%;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 0 0;
    transition: 0.2s;
    font-weight: bold; 
}

input{
    padding: 5px;
    border-radius: 5px;
}

button:hover {
    background-color: rgba(175, 175, 3, 0.981);
}

button:active{
    transform: translateY(3px);
    background-color: white;
    
}


